<section>
            <div id="new">
                <div class="heading">
                    <div class="info">
                        <%BREAD_CRUMBS2%>

                        <div class="date content wow fadeInUpSmall fast animated"><%DATE%></div>
                        <h1 class="content wow fadeInUpSmall fast animated"><%TITLE%></h1>
                        <p class="nb content wow fadeInUpSmall fast animated delay-02s"><%ANNOUNCE%></p>
                    </div>
                    <div class="photo">
                        <a href="<%IMAGEFULL%>" class="js-lightbox" data-gallery="new"><img src="<%IMAGE%>" alt="<%ALT%>" title="<%ALT%>"></a>
                    </div>
                </div>

                <div class="holder content wow fadeInUpSmall fast animated delay-02s">
                    <%TEXT%>
                </div>

                <div class="holder">
                    <div class="ss" id="social-shares" data-share-title="<%SHARETITLE%>" data-share-url="<%SHAREURL%>" data-share-image="<%SHAREIMAGE%>" data-share-description="<%SHARETEXT%>">
                        <h2>Поделитесь с друзьями</h2>
                        <ul>
                            <li class="vk"><a href="#" target="_blank" rel="nofollow" data-api-url="https://vk.com/share.php?url=%url%&title=%title%&image=%image%&description=%description%"><img src="assets/images/ico_vk.svg" alt="Поделиться" title="Поделиться">Поделиться</a></li>
                            <li class="fb"><a href="#" target="_blank" rel="nofollow" data-api-url="https://www.facebook.com/sharer.php?p[url]=%url%&p[title]=%title%&p[summary]=%decsription%&p[images][0]=%image%"><img src="assets/images/ico_fb.svg" alt="Поделиться" title="Поделиться">Поделиться</a></li>
                            <li class="tw"><a href="#" target="_blank" rel="nofollow" data-api-url="https://twitter.com/share?url=%url%&text=%description%"><img src="assets/images/ico_tw.svg" alt="Поделиться" title="Поделиться">Поделиться</a></li>
                        </ul>
                    </div>
                </div>

                <%BLOCK_OTHER%>
            </div>

            <%BLOCK1%>
            <%BLOCK2%>
            <%BLOCK3%>
            <%BLOCK4%>
            <%BLOCK5%>
            <%BLOCK6%>
            <%BLOCK7%>
            <%BLOCK8%>
            <%BLOCK9%>
            <%BLOCK10%>
            <%BLOCK11%>
        </section>