<section class="lightgray" id="service">
            <%BREAD_CRUMBS2%>

            <div class="holder heading">
                <div class="info">
                    <h1><%TITLE%></h1>
                    <p class="nb"><%ANNOUNCE%></p>
                </div>
                <div class="illustration"><img src="<%IMAGE%>" alt="<%ALT%>" title="<%ALT%>"></div>
            </div>
        </section>

            <%BLOCK1%>
            <%BLOCK2%>
            <%BLOCK3%>
            <%BLOCK4%>
            <%BLOCK5%>
            <%BLOCK6%>
            <%BLOCK7%>
            <%BLOCK8%>
            <%BLOCK9%>
            <%BLOCK10%>
            <%BLOCK11%>