<div id="bl-contacts">
                <div class="holder">
                    <h2><a href="/contacts/"><%TITLE%></a></h2>

                    <ul>
                        <li class="address">
                            <h3>Адрес</h3>
                            <address><%FULLADDRESS%></address>
                        </li>
                        <li class="phone">
                            <h3>Телефон</h3>
                            <a href="tel:<%TELLINK%>"><%TEL%></a><br>
                            <a href="tel:<%TELLINK2%>"><%TEL2%> (Приёмная)</a>
                        </li>
                        <li class="email">
                            <h3>Почта</h3>
                            <a href="mailto:<%EMAIL%>"><%EMAIL%></a><br>
                            <a href="mailto:<%EMAIL2%>"><%EMAIL2%> (Приёмная)</a>
                        </li>
                    </ul>
                </div>

                <div id="map" data-coords="<%COORDS%>"></div>
            </div>