<li class="video">
    <a href="#modal-video" rel="nofollow" class="js-modal-link" id="js-company-video" data-owner-id="-227578172"  data-video-code="456239017">
        <h2 class="wow fadeInUpSmall animated fast delay-0<%I%>s"><%TITLE%></h2>
        <div class="illustration wow fadeInUpSmall animated fast delay-0<%I%>s">
            <img src="<%IMAGE%>" alt="<%ALT%>" title="<%ALT%>">
            <span class="play wow fadeInUpSmall animated fast delay-0<%I%>s"><span>Смотреть <br>видео</span></span>
        </div>
    </a>
</li>
                    