<li>
                        <a href="<%LINK%>">
                            <div class="photo wow fadeInUpSmall fast animated"><img src="<%IMAGE%>" alt="<%ALT%>" title="<%ALT%>"></div>
                            <div class="info">
                                <div class="date wow fadeInUpSmall fast animated delay-02s"><%DATE%></div>
                                <h2 class="wow fadeInUpSmall fast animated delay-02s"><%TITLE%></h2>
                            </div>
                        </a>
                    </li>
                    