<section>
            <div class="holder">
                <h1 class="wow fadeInUpSmall fast animated"><%TITLE%></h1>

                <div id="company-content">
                    <a href="#modal-video" id="js-company-video" rel="nofollow" class="company-video js-modal-link wow fadeInUpSmall animated fast delay-02s" data-owner-id="<%OWNER%>"  data-video-code="<%CODE%>"><span></span>Смотреть видео о нас</a>

                    <div class="content wow fadeInUpSmall fast animated delay-02s">
                        <%TEXT%>                    
                    </div>
                </div>
                
            </div>

            <%CONTENT%>

            <%BLOCK1%>
            <%BLOCK2%>
            <%BLOCK3%>
            <%BLOCK4%>
            <%BLOCK5%>
            <%BLOCK6%>
            <%BLOCK7%>
            <%BLOCK8%>
            <%BLOCK9%>
            <%BLOCK10%>
            <%BLOCK11%>
        </section>