<li>
                        <div class="photo"><img src="<%IMAGE%>" alt="<%ALT%>" title="<%ALT%>"></div>
                        <div class="info">
                            <div class="post wow fadeInUpSmall fast animated"><%POST%></div>
                            <h3 class="name wow fadeInUpSmall fast animated"><%NAME%></h3>
                            <a href="tel:<%TELLINK%>" class="tel wow fadeInUpSmall fast animated delay-02s"><%TEL%></a><br>
                            <a href="mailto:<%EMAIL%>" class="email wow fadeInUpSmall fast animated delay-02s"><%EMAIL%></a>
                        </div>
                    </li>
                    