<li<%CLASS%>>
                        <h3><%TITLE%></h3>
                        <div class="price"><%SALARY%></div>

                        <ul>
                            <%STAGE%>
                            <%EMPLOYMENT%>
                        </ul>

                        <div class="info">
                            <%TEXT%>

                            <button class="btn">Откликнуться</button>
                        </div>
                        <div class="toggler"><%TOGGLER%></div>
                    </li>
                    