<li<%CLASS%>>
                        <h3><%TITLE%></h3>
                        <div class="price"><%SALARY%></div>

                        <ul>
                            <%STAGE%>
                            <%EMPLOYMENT%>
                        </ul>

                        <div class="info">
                            <%TEXT%>

                            <a href="mailto:<%EMAIL2%>?subject=Вакансия: <%TITLE%>" target="_blank"><button class="btn">Написать нам</button></a>
                        </div>
                        <div class="toggler"><%TOGGLER%></div>
                    </li>
                    